:root {
  --bc-text: #18181b;
  --bc-background: #f8f8f8;
  --bc-primary: #f67451;
  --bc-secondary: #9f2d00;
  --bc-accent: #963b00;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bc-text: #f0e7f9;
    --bc-background: #1c1a1a;
    --bc-primary: #f67451;
    --bc-secondary: #701f2e;
    --bc-accent: #a54b12;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  color-scheme: light dark;
  background-color: var(--bc-background);
  color: var(--bc-text);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  width: 360px;
  max-height: 700px;
  overflow: hidden;
  margin: 0;
}

.bc-icon {
  width: 1.3rem;
  height: auto;
}

[role='button'] {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
