:root[data-theme='light'] {
  --bc-text: #0f0618;
  --bc-background: #edecee;
  --bc-primary: #ae2d09;
  --bc-secondary: #e08f9e;
  --bc-accent: #ed925a;
}
:root[data-theme='dark'] {
  --bc-text: #f0e7f9;
  --bc-background: #121113;
  --bc-primary: #f67451;
  --bc-secondary: #701f2e;
  --bc-accent: #a54b12;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bc-text: #f0e7f9;
    --bc-background: #121113;
    --bc-primary: #f67451;
    --bc-secondary: #701f2e;
    --bc-accent: #a54b12;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  color-scheme: light dark;
  background-color: var(--bc-background);
  color: var(--bc-text);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  width: 340px;
  max-height: 700px;
  overflow: hidden;
  margin: 0;
}

.bc-icon-power {
  width: 1.8rem;
  height: 1.8rem;
}

[role='button'] {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
